Body{
    height: 100vh;
    background: linear-gradient(#001aff, #010952);
}
.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 150px;
    background: #181818;
    width: 40%;
    padding-bottom: 30px;
    border-radius: 15px;
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    margin-top: 30px;

}
.text{
    color: #ffffff;
    font-size: 48px;
    font-weight: 700;
}
.underline{
    width: 121px;
    height: 6px;
    background: #010952;
    border-radius: 8px;
}
.inputs{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 45px;
    background: #313235;
    border-radius: 6px;
    border-style: solid; 
    border-width: 1px;
    border-color: #ffffff
}
.input img{
    margin: 0px 30px;
}
.input input{
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 20px;
}
.forgot-password{
    padding-left: 0px;
    margin-top: 27px;
    color: #79797979;
    font-size: 18px;
}
.forgot-password span{
    color: #4b35c9;
    cursor: pointer;
}
.submit-container{
    display: flex;
    gap: 30px;
    margin: 10px auto;
}
.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 60px;
    color: #fff;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 700;
    background: #4c00b4;
    cursor: pointer;
}
.gray{
    background: #eaeaea;
    color: #676767;
}