Body{
    height: 100vh;
    background: linear-gradient(#001aff, #010952);
}
.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 200px;
    background: #727480;
    padding-bottom: 30px;
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    margin-top: 30px;

}